<div class="messages_wrapper">
  <div class="messages_without-icon">
    <div class="message_description">
      Срок действия аттестата — один календарный год. Для обновления аттестата требуется заново пройти все этапы
      проверок.
    </div>
  </div>
</div>