<div class="messages_wrapper">
  <div class="messages_with-icon">
    <div class="messages_icon"></div>

    <div class="message_description">
      Записаться на новые <br /><a href="#">вебинары или семинары</a>
    </div>
  </div>
</div>