<div class="education_item education_item--certification">
  <div class="education_name">
    Аттестация
  </div>

  <div class="education_title">
    У вас есть
    <a href="#" class="education_title-link">действующий аттестат</a>
  </div>

  <div class="education_item--certification_fixture-img">
    <img src="src/images/image.png" alt="">
  </div>
</div>