<div class="education_item education_item--certification">
  <div class="education_name">
    Аттестация
  </div>

  <div class="education_title">
    Вы на втором этапе аттестации
  </div>

  <div class="education_item--certification_fixture-img education_item--certification_fixture-img--middle">
    <img src="src/images/image.png" alt="">
  </div>
</div>