<div class="education_item education_item--certification">
  <div class="education_name">
    Аттестация
  </div>
  <div class="education_title">
    Прохождение аттестации недоступно
  </div>

  <div>
    <div class="education_before-end">
      До окончания тестирования осталось:
    </div>
    <div class="education_table">
      <div class="education_table-item">
        <div class="education_table-item-header">
          Дней
        </div>
        <div class="education_table-item-content">
          13
        </div>
      </div>
      <div class="education_table-item">
        <div class="education_table-item-header">
          Часов
        </div>
        <div class="education_table-item-content">
          23
        </div>
      </div>
      <div class="education_table-item">
        <div class="education_table-item-header">
          Минут
        </div>
        <div class="education_table-item-content">
          59
        </div>
      </div>
      <div class="education_table-item">
        <div class="education_table-item-header">
          Секунд
        </div>
        <div class="education_table-item-content">
          26
        </div>
      </div>
    </div>
  </div>
</div>