<div class="education_item education_item--certification">
  <div class="education_name">
    Аттестация
  </div>

  <div class="education_title">
    Вы начали проходить аттестацию
  </div>

  <div class="education_item--certification_fixture-img">
    <img src="src/images/image.png" alt="">

  </div>
</div>