<div class="education_item education_item">
  <div class="education_name">
    Практика
  </div>

  <a href="#" class="education_history">
    История
  </a>

  <div class="education_img">
    <img src="src/images/image.png" alt="">
  </div>
</div>