<div class="education_item education_item">
  <div class="education_name">
    Практика
  </div>

  <a href="#" class="education_history">
    История
  </a>

  <div class="education_title">
    Практическое задание выполнено
  </div>

  <div class="education_table">
    <div class="education_table-item">
      <div class="education_table-item-header">
        Баланс
      </div>
      <div class="education_table-item-content">
        12,05 ₽
      </div>
    </div>
  </div>

  <div class="education_table education_list">
    <ul>
      <li class="table_li table_li--true">Общее количество кликов: 107</li>
      <li class="table_li table_li--true">Общий CTR: 0,076%</li>
      <li class="table_li table_li--true">Количество созданных кампаний: 7</li>
      <li class="table_li table_li--true">Количество созданных объявлений: 10</li>
    </ul>
  </div>
</div>