<div class="education_item education_item">
  <div class="education_name">
    Практика
  </div>

  <a href="#" class="education_history">
    История
  </a>

  <div class="education_title">
    Ознакомьтесь <br /> c <a href="#" class="education_title-link">заданием</a>
  </div>

  <div class="education_before-end">
    Для вас создан <a href="#">учебный аккаунт</a>.<br />
    <br />
    До проверки практического задания осталось:
  </div>

  <div class="education_table">
    <div class="education_table-item">
      <div class="education_table-item-header">
        Дней
      </div>
      <div class="education_table-item-content">
        13
      </div>
    </div>
    <div class="education_table-item">
      <div class="education_table-item-header">
        Часов
      </div>
      <div class="education_table-item-content">
        23
      </div>
    </div>
    <div class="education_table-item">
      <div class="education_table-item-header">
        Минут
      </div>
      <div class="education_table-item-content">
        59
      </div>
    </div>
    <div class="education_table-item">
      <div class="education_table-item-header">
        Секунд
      </div>
      <div class="education_table-item-content">
        26
      </div>
    </div>
  </div>

  <div class="education_links">
    <a href="#" class="education_links-item">Отправить задание на почту</a>
    <a href="#" class="education_links-item">Сообщить о технической ошибке</a>
  </div>
</div>