<div class="education_item education_item">
  <div class="education_name">
    Тест
  </div>

  <a href="#" class="education_history">
    История
  </a>

  <div class="education_title">
    Тестирование успешно пройдено
  </div>

  <div class="education_table">
    <div class="education_table-item">
      <div class="education_table-item-header">
        Дата
      </div>
      <div class="education_table-item-content">
        5 сентября 2018 г.
      </div>
    </div>
  </div>
  <div class="education_table">
    <div class="education_table-item">
      <div class="education_table-item-header">
        Баллы
      </div>
      <div class="education_table-item-content">
        84/100
      </div>
    </div>
  </div>
  <div class="education_table">
    <div class="education_table-item">
      <div class="education_table-item-header">
        Правильно
      </div>
      <div class="education_table-item-content">
        80
      </div>
    </div>
    <div class="education_table-item">
      <div class="education_table-item-header">
        Неправильно
      </div>
      <div class="education_table-item-content">
        9
      </div>
    </div>
    <div class="education_table-item">
      <div class="education_table-item-header">
        Частично правильно
      </div>
      <div class="education_table-item-content">
        7
      </div>
    </div>
  </div>

  <div class="education_table-comment">
    Порог прохождения тестового задания — 70/100 баллов
  </div>
</div>