<div class="education_item education_item">
  <div class="education_name">
    Тест
  </div>

  <a href="#" class="education_history">
    История
  </a>

  <div class="education_title">
    Идёт прохождение теста
  </div>

  <div class="education_before-end">
    До окончания тестирования осталось:
  </div>

  <div class="education_table">
    <div class="education_table-item">
      <div class="education_table-item-header">
        Минут
      </div>
      <div class="education_table-item-content">
        13
      </div>
    </div>
    <div class="education_table-item">
      <div class="education_table-item-header">
        Секунд
      </div>
      <div class="education_table-item-content">
        23
      </div>
    </div>
  </div>
</div>