<%= _.template(require('./../components/header/header.html'))(data) %>

<div>
  <a href="/" class="not-found_logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150.5 41" width="150" height="41">
      <g fill="#fa2c38">
        <path d="M69.9 6.1h-4.3c-.9 0-1-.4-1-1.2V.7c0-1.2-1.1-.6-1.1-.6L60 3.6C58.9 4.7 59 6 59 6v2.5L53.5 14a4.48 4.48 0 0 0-5.8 4.3c0 2.5 2 4.5 4.5 4.5s4.5-2 4.5-4.5c0-.4-.1-.8-.1-1.1l5.6-5.6h2.5s1.3.1 2.4-1l3.5-3.5c-.1.1.5-1-.7-1z" />
        <path d="M63.7 14c-1.2.2-1.9 1.4-1.7 2.5a10.07 10.07 0 0 1-9.9 12c-2.3 0-4.5-.8-6.3-2.2-1.8-1.4-3-3.4-3.5-5.6-.2-.9-1-1.5-1.8-1.7-.7-.1-1.2 0-1.3 0-1.8.3-3.4.9-4.7 1.5v-.2c.1-1.5.1-2.2.2-3.7 0-.2 0-.4.1-.6.5-2.2 1-3.4 1-4.4 0-.5-.1-.7-.3-1.1-.2-.4-.5-.6-.8-.8-.1-.1-.2-.2-.4-.2-.1 0-.1-.1-.2-.1-.9-.3-1.7-.1-2.3.6-.5.6-.7 1.4-.9 2.2-.3 1.2-.6 3.1-1 4.4-.3.9-.9 2.1-1.6 2.6-.7.5-1.5.3-1.8-.8-.4-1.2-.3-2.6-.1-3.9.1-.9.8-1 .9-2.4.2-1.7-.7-2.8-2.2-2.9-1-.1-1.9.3-2.4 1.4-.5 1.1-.7 2.2-.8 3.4-.1.9 0 2 0 2.9 0 .1-.1.1-.1.2-.7 1.3-2.2 2.7-2.6 2.5-.2-.1-.1-.6-.1-.8 0-1.6.2-4.5.4-6.6.1-1.3-.6-2.3-2.2-2.3-1.1 0-1.7.6-2.3 1.3-1 1.1-1.8 2.3-2.6 3.3-.1.2-.3.4-.6.4-.2-.1-.3-.4-.3-.6v-1.9c0-.2 0-.8-.1-1.2-.1-1.1-1.3-1.7-2.3-1.6-.7.1-1.2.5-1.5 1.1-.5.9-.8 1.3-1.3 2.2-.4.7-.5.9-.7 1.2-.2.3-.4.5-.7.6-.3.1-.4-.3-.4-.3v-1.8c0-.6.1-2-1.1-2.2C.4 10.3 0 13.5 0 15c0 1.7 0 2.9.1 4.5 0 1.3 0 2 .1 3.3.1 1.4 1.3 2.2 2.6 1.8.7-.2 1.1-.7 1.4-1.3.3-.6.9-2.1 1.2-2.8.4-.8.7-1.8 1.1-2.5.1-.3.5-.4.7-.4.3 0 .4.2.4.4 0 .8-.1 1.4-.1 2.2-.1 1.5 0 2.5.2 2.9.1.4.5.8 1.1 1 1 .4 2.2 0 2.8-1 .8-1.5 1-2.7 1.7-4.3.2-.4.5-1 1-1.1.2 0 .6.1.6.4 0 .3-.1 3 .1 4.2.2 1.1 1.2 2.3 3.2 2.1.6 0 1.1-.3 1.6-.7.6-.3 1.4-1 2.3-2.5.3 1 1 1.9 1.4 2.4 1.3 1.6 3.3 1.7 4.8.3.7-.7 1.1-1.3 1.3-1.8-.1.6-.1 1.3-.1 1.9-4.5 2.9-6.9 5.9-7.1 8.9-.2 2.7 1.2 5.4 4.3 7.2.7.4 1.4.7 2.2.7.5 0 .9-.1 1.3-.3 2.6-1.3 3-7.9 3.7-14v-.3a13.59 13.59 0 0 1 3.7-2.2c.6-.2 1 0 1.4.6a14.63 14.63 0 0 0 3.9 4.9c2.6 2 5.8 3.2 9 3.2 8 0 14.5-6.5 14.5-14.5 0-.9-.1-1.8-.3-2.7-.1-.9-1.2-1.7-2.4-1.5zM28.6 34.5c-.1.3-.4.4-.6.2-.8-.6-1-1.5-.9-2.1 0-.5.3-1.6 2.2-3.3-.1 1.2-.3 4-.7 5.2z" />
        <path d="M40.2 14.6c.3.2.7.3 1 .3.8 0 1.5-.4 1.9-1.1 1.8-3.3 5.2-5.3 8.9-5.3.7 0 1.4.1 2.1.2 1.2.3 2.3-.5 2.6-1.7.3-1.2-.5-2.3-1.7-2.6-1-.2-2-.3-3.1-.3-5.3 0-10.2 2.9-12.7 7.6-.4 1-.1 2.3 1 2.9z" />
      </g>
      <path d="M76.2 24.6V12.8H72v-2.7h11.6v2.7h-4.2v11.8h-3.2zM93.3 24.6l-.9-2.5h-6.2l-.9 2.5h-3.5l5.6-14.5h3.9l5.6 14.5h-3.6zm-4-11.5L87 19.4h4.5l-2.2-6.3zM106.4 24.6l-2.9-5.2h-2.3v5.2h-3.1V10.1h6.8c3 0 4.9 2 4.9 4.7 0 2.6-1.6 3.9-3.2 4.3l3.3 5.5h-3.5zm.3-9.9c0-1.2-.9-2-2.2-2h-3.2v3.9h3.2c1.3.1 2.2-.6 2.2-1.9zM111.1 17.3c0-4.6 3.5-7.5 7.7-7.5 3 0 4.9 1.5 6 3.2l-2.6 1.4c-.7-1-1.9-1.9-3.4-1.9-2.6 0-4.6 2-4.6 4.8 0 2.7 1.9 4.8 4.6 4.8 1.3 0 2.5-.6 3.1-1.1v-1.7h-3.8v-2.7h6.9v5.6a8 8 0 0 1-6.2 2.7c-4.2 0-7.7-3-7.7-7.6zM127 24.6V10.1h10.3v2.7h-7.2v3.1h7v2.7h-7v3.3h7.2v2.7H127zM143.1 24.6V12.8h-4.3v-2.7h11.6v2.7h-4.2v11.8h-3.1z" />
    </svg>
  </a>

  <div class="wrapper">
    <div class="not-found">
      <div class="not-found_left">
        <div class="not-found_title">
          Такой страницы здесь нет
        </div>

        <a href="/" class="button not-found_button">На главную</a>
      </div>
      <div class="not-found_image"></div>
    </div>
  </div>
</div>

<%= _.template(require('./../components/footer/footer.html'))(data) %>