<%= _.template(require('./../components/header/header.html'))(data) %>

<%= _.template(require('./../components/Head/Head.html'))(data) %>
<%= _.template(require('./../components/Profile/Profile.html'))(data) %>

<div class="wrapper">
  <div class="education">
    <%= _.template(require('./../components/Educations/Certification.html'))(data) %>
    <%= _.template(require('./../components/Educations/Test.html'))(data) %>
    <%= _.template(require('./../components/Educations/Practice.html'))(data) %>

    <%= _.template(require('./../components/Educations/Certification-started.html'))(data) %>
    <%= _.template(require('./../components/Educations/Test-started.html'))(data) %>
    <%= _.template(require('./../components/Educations/Practice.html'))(data) %>

    <%= _.template(require('./../components/Educations/Certification-success.html'))(data) %>
    <%= _.template(require('./../components/Educations/Test-success.html'))(data) %>
    <%= _.template(require('./../components/Educations/Practice-success.html'))(data) %>

    <%= _.template(require('./../components/Educations/Certification-failed.html'))(data) %>
    <%= _.template(require('./../components/Educations/Test-success.html'))(data) %>
    <%= _.template(require('./../components/Educations/Practice-failed.html'))(data) %>

    <%= _.template(require('./../components/Educations/Certification-second.html'))(data) %>
    <%= _.template(require('./../components/Educations/Test-success.html'))(data) %>
    <%= _.template(require('./../components/Educations/Practice-second.html'))(data) %>

    <%= _.template(require('./../components/Educations/Certification-failed.html'))(data) %>
    <%= _.template(require('./../components/Educations/Test-failed.html'))(data) %>
    <%= _.template(require('./../components/Educations/Practice.html'))(data) %>
  </div>
</div>

<%= _.template(require('./../components/footer/footer.html'))(data) %>