<%= _.template(require('./../components/header/header.html'))(data) %>

<%= _.template(require('./../components/Head/Head.html'))(data) %>
<%= _.template(require('./../components/Profile/Profile.html'))(data) %>

<div class="wrapper">
  <div class="messages">
    <%= _.template(require('./../components/Messages/PreMessage.html'))(data) %>
    <%= _.template(require('./../components/Messages/WithoutIcon.html'))(data) %>
    <%= _.template(require('./../components/Messages/WithIcon.html'))(data) %>
  </div>
  <div class="messages">
    <%= _.template(require('./../components/Messages/PreMessageSuccess.html'))(data) %>
    <%= _.template(require('./../components/Messages/WithoutIcon.html'))(data) %>
    <%= _.template(require('./../components/Messages/WithIcon.html'))(data) %>
  </div>
</div>

<%= _.template(require('./../components/footer/footer.html'))(data) %>