<%= _.template(require('./../components/header/header.html'))(data) %>

<%= _.template(require('./../components/Head/Head.html'))(data) %>

<div class="wrapper">
  <div class="tables">
    <a href="#" class="button--back">
      &lt; Назад
    </a>
    <div class="tables_container">
      <h1 class="tables_header">
        Архив аттестатов
      </h1>

      <div class="table">
        <div class="table_header">
          <div class="table_row">
            <div class="table_item">
              Дата
            </div>
            <div class="table_item">
              №
            </div>
            <div class="table_item"></div>
          </div>
        </div>
        <div class="table_body">
          <div class="table_row table_row_disabled">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
              </div>
              <a href="#">Скачать</a>
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
              </div>
              <a href="#">Скачать</a>
            </div>
          </div>
          <div class="table_row table_row_disabled">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
              </div>
              <a href="#">Скачать</a>
            </div>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="table_header">
          <div class="table_row">
            <div class="table_item">
              Дата
            </div>
            <div class="table_item">
              ID аккаунта
            </div>
            <div class="table_item table_item--big">
              Условие практики
            </div>
          </div>
        </div>
        <div class="table_body">
          <div class="table_row table_row_disabled">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                ID Аккаунта
              </div>
              5168
            </div>
            <div class="table_item table_item--big">
              <div class="table_item_mobile-header">
                Условие практики
              </div>
              <ul>
                <li class="table_li table_li--true">Общее количество кликов: 107</li>
                <li class="table_li table_li--true">Общий CTR: 0,076%</li>
                <li class="table_li table_li--true">Количество созданных кампаний: 7</li>
                <li class="table_li table_li--true">Количество созданных объявлений: 10</li>
              </ul>
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                ID Аккаунта
              </div>
              5168
            </div>
            <div class="table_item table_item--big">
              <div class="table_item_mobile-header">
                Условие практики
              </div>
              <ul>
                <li class="table_li table_li--true">Общее количество кликов: 109</li>
                <li class="table_li table_li--false">Общий CTR: 0,034%</li>
                <li class="table_li table_li--false">Количество созданных кампаний: 1</li>
                <li class="table_li table_li--true">Количество созданных объявлений: 10</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="table table--big">
        <div class="table_header">
          <div class="table_row">
            <div class="table_item">
              Дата
            </div>
            <div class="table_item">
              №
            </div>
            <div class="table_item">
              Баллы
            </div>
            <div class="table_item">
              Правильно
            </div>
            <div class="table_item">
              Неправильно
            </div>
            <div class="table_item">
              Частично правильно
            </div>
          </div>
        </div>
        <div class="table_body">
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
          <div class="table_row">
            <div class="table_item">
              <div class="table_item_mobile-header">
                Дата
              </div>
              21.06.17
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                №
              </div>
              5168
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Баллы
              </div>
              70/100
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Правильно
              </div>
              14
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Неправильно
              </div>
              6
            </div>
            <div class="table_item">
              <div class="table_item_mobile-header">
                Частично правильно
              </div>
              0
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../components/footer/footer.html'))(data) %>