<%= _.template(require('./../components/header/header.html'))(data) %>

<div class="testing_title">
  Тест
</div>

<div class="wrapper">
  <div class="wrapper-small">
    <div class="testing-message">
      <div class="testing-message_left">
        <div class="testing-message_title">
          Тестирование успешно пройдено
        </div>
        <div class="testing-message_content">
          <div class="education_table">
            <div class="education_table-item">
              <div class="education_table-item-header">
                Дата
              </div>
              <div class="education_table-item-content">
                5 сентября 2018 г.
              </div>
            </div>
          </div>
          <div class="education_table">
            <div class="education_table-item">
              <div class="education_table-item-header">
                Баллы
              </div>
              <div class="education_table-item-content">
                84/100
              </div>
            </div>
          </div>
          <div class="education_table">
            <div class="education_table-item">
              <div class="education_table-item-header">
                Правильно
              </div>
              <div class="education_table-item-content">
                80
              </div>
            </div>
            <div class="education_table-item">
              <div class="education_table-item-header">
                Неправильно
              </div>
              <div class="education_table-item-content">
                9
              </div>
            </div>
            <div class="education_table-item">
              <div class="education_table-item-header">
                Частично правильно
              </div>
              <div class="education_table-item-content">
                7
              </div>
            </div>
          </div>
        </div>
        <div class="testing-message_email">
          Порог прохождения тестового задания — 70/100 баллов
        </div>
      </div>

      <div class="testing-message_right">
        <img src="src/images/image.png" alt="" class="testing-message_img">

        <div class="testing-message_button">
          <a href="#" class="button">Начать тест</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../components/footer/footer.html'))(data) %>