<%= _.template(require('./../components/header/header.html'))(data) %>

<div class="testing_header">
  <div class="testing_title">
    Теоретические вопросы аттестации myTarget
  </div>
  <div class="testing_time">
    До окончания тестирования осталось <b>18 мин 26 с</b>
  </div>

  <div class="testing_progress">
    <div class="testing_progress-section">
      <div class="testing_progress-line" style="width: 100%"></div>
      Страница 1
    </div>
    <div class="testing_progress-section">
      <div class="testing_progress-line" style="width: 15%"></div>
      Страница 2
    </div>
    <div class="testing_progress-section">
      <div class="testing_progress-line" style="width: 0%"></div>
      Страница 3
    </div>
    <div class="testing_progress-section">
      <div class="testing_progress-line" style="width: 0%"></div>
      Страница 4
    </div>
    <div class="testing_progress-section">
      <div class="testing_progress-line" style="width: 0%"></div>
      Страница 5
    </div>
  </div>
</div>

<div class="wrapper testing">
  <div class="wrapper-small">
    <div class="testing_item">
      <div class="testing_item-number">
        01
      </div>

      <h3 class="testing_item-title">
        Что такое myTarget?
      </h3>

      <div class="testing_item-options">
        <label class="radiobutton">
          <input type="radio" name="one" class="radiobutton_input" />
          <span class="radiobutton_name">
            Сервис таргетированной рекламы
          </span>
        </label>
        <label class="radiobutton">
          <input type="radio" name="one" class="radiobutton_input" />
          <span class="radiobutton_name">
            Сервис контекстной рекламы
          </span>
        </label>
        <label class="radiobutton">
          <input type="radio" name="one" class="radiobutton_input" />
          <span class="radiobutton_name">
            Поисковик
          </span>
        </label>
        <label class="radiobutton">
          <input type="radio" name="one" class="radiobutton_input" />
          <span class="radiobutton_name">
            Сервис аналитики
          </span>
        </label>
      </div>
    </div>

    <div class="testing_item testing_item--selected">
      <div class="testing_item-number">
        01
      </div>

      <h3 class="testing_item-title">
        Что такое myTarget?
      </h3>

      <div class="testing_item-options">
        <label class="radiobutton">
          <input type="radio" name="one" class="radiobutton_input" checked />
          <span class="radiobutton_name">
            Сервис таргетированной рекламы
          </span>
        </label>
        <label class="radiobutton radiobutton--disabled">
          <input type="radio" name="one" class="radiobutton_input radiobutton_input" />
          <span class="radiobutton_name">
            Сервис контекстной рекламы
          </span>
        </label>
        <label class="radiobutton radiobutton--disabled">
          <input type="radio" name="one" class="radiobutton_input" />
          <span class="radiobutton_name">
            Поисковик
          </span>
        </label>
        <label class="radiobutton radiobutton--disabled">
          <input type="radio" name="one" class="radiobutton_input" />
          <span class="radiobutton_name">
            Сервис аналитики
          </span>
        </label>
      </div>
    </div>
    <div class="testing_item">
      <div class="testing_item-number">
        02
      </div>

      <h3 class="testing_item-title">
        Верно ли, что локальная реклама показывается в окрестности определенной точки радиусом от 1000 метров,
        обеспечивая высокую точность геоданных рекламы?
      </h3>

      <div class="testing_item-options">
        <label class="radiobutton">
          <input type="radio" name="two" class="radiobutton_input" />
          <span class="radiobutton_name">
            Да
          </span>
        </label>
        <label class="radiobutton">
          <input type="radio" name="two" class="radiobutton_input" />
          <span class="radiobutton_name">
            Нет
          </span>
        </label>
        <label class="radiobutton">
          <input type="radio" name="two" class="radiobutton_input" />
          <span class="radiobutton_name">
            Не знаю
          </span>
        </label>
      </div>
    </div>
    <div class="testing_item">
      <div class="testing_item-number">
        03
      </div>

      <h3 class="testing_item-title">
        Что такое динамический ремаркетинг?
      </h3>

      <div class="testing_item-options">
        <label class="radiobutton">
          <input type="radio" name="three" class="radiobutton_input" />
          <span class="radiobutton_name">
            Отдельная стратегия взаимодействия с потенциальным потребителем, в основе которой лежит важное знание,
            отличающее этот канал от всех остальных: знание о том, что потенциальный потребитель уже ознакомлен с
            рекламируемым продуктом, а также степень знакомства и намерения совершить покупку
          </span>
        </label>
        <label class="radiobutton">
          <input type="radio" name="three" class="radiobutton_input" />
          <span class="radiobutton_name">
            Реклама на базе источников данных
          </span>
        </label>
        <label class="radiobutton">
          <input type="radio" name="three" class="radiobutton_input" />
          <span class="radiobutton_name">
            Реклама определенных товаров или услуг, создаваемая автоматически для пользователей, которые ранее
            просматривали страницы вашего сайта, посвященные этим же товарам или услугам
          </span>
        </label>
      </div>
    </div>
    <div class="testing_item">
      <div class="testing_item-number">
        04
      </div>

      <h3 class="testing_item-title">
        Пользователей каких групп можно использовать для таргетирования в myTarget?
      </h3>

      <div class="testing_item-options">
        <label class="checkbox">
          <input type="checkbox" name="four" class="checkbox_input" checked />
          <span class="checkbox_name">
            Сервис таргетированной рекламы
          </span>
        </label>
        <label class="checkbox checkbox--disabled">
          <input type="checkbox" name="four" class="checkbox_input" />
          <span class="checkbox_name">
            Сервис контекстной рекламы
          </span>
        </label>
        <label class="checkbox">
          <input type="checkbox" name="four" class="checkbox_input" checked />
          <span class="checkbox_name">
            Поисковик
          </span>
        </label>
        <label class="checkbox checkbox--disabled">
          <input type="checkbox" name="four" class="checkbox_input" />
          <span class="checkbox_name">
            Сервис аналитики
          </span>
        </label>
      </div>
    </div>

    <div class="testing_buttons">
      <a href="#" class="button button--text">Назад</a>
      <a href="#" class="button">Далее</a>
    </div>
  </div>
</div>

<%= _.template(require('./../components/footer/footer.html'))(data) %>