<%= _.template(require('./../components/header/header.html'))(data) %>

<div class="testing_title">
  Тест
</div>

<div class="wrapper">
  <div class="wrapper-small">
    <div class="testing-message">
      <div class="testing-message_left">
        <div class="testing-message_title">
          Теоретические вопросы аттестации myTarget
        </div>
        <div class="testing-message_content">
          Тест является первой из двух частей аттестации. Если вы сдаёте его успешно, мы отправим на почту практическое
          задание.<br /><br />
          В тесте нужно ответить на 20 вопросов в течение 20 минут с первой попытки. Подготовьте бумагу, ручку и
          калькулятор.
        </div>
        <div class="testing-message_email">
          Присылайте вопросы по аттестации на адрес <a href="mailto:edu@target.my.com">edu@target.my.com</a>
        </div>
      </div>

      <div class="testing-message_right">
        <img src="src/images/image.png" alt="" class="testing-message_img">

        <div class="testing-message_button">
          <a href="#" class="button">Начать тест</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../components/footer/footer.html'))(data) %>