.not-found {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 66px);

  @media (max-width: $sm) {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: flex-end;
  }

  &_title {
    font-size: 44px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #333333;
    max-width: 370px;
  }

  &_button {
    margin-top: 90px;
    max-width: 125px;
  }

  &_image {
    background-color: #d8d8d8;
    width: 420px;
    height: 420px;
    border-radius: 50%;

    @media (max-width: $sm) {
      width: 300px;
      height: 300px;
      margin-bottom: 30px;
    }
  }

  &_logo {
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
  }
}