.button {
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  display: inline-block;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  background-color: #fa2c38;
  background-color: var(--strawberry);
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 27px;
  min-width: 200px;

  @media (max-width: $xs) {
    min-width: 95px;
  }

  &:hover {
    background-color: #ff3a45;
    text-decoration: none;
  }

  &--text {
    background: transparent;
    border: none;
    color: #333333;
    color: var(--black);

    &:hover {
      background: transparent;
      color: var(--strawberry);
    }
  }

  &--back {
    font-size: 17px;
    color: var(--warm-grey);
    text-decoration: underline;
  }
}