.education {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;

  &_item {
    border: solid 1px #ffffff;
    width: calc(100% / 3 - 20px);
    min-height: 336px;
    padding-top: 70px;
    padding-bottom: 60px;
    margin: 0 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
    border-radius: 4px;

    @media (max-width: $md) {
      width: calc(100% / 2 - 20px);
    }

    @media (max-width: $xs) {
      width: 100%;
    }

    &--failed {
      border: solid 1px var(--red);
    }

    &--certification {
      background: transparent;

      @media (max-width: $md) {
        width: 100%;
      }

      @media (max-width: $xs) {
        margin: 0 10px 20px;
      }

      &_fixture-img {
        width: 256px;
        height: 256px;
        border-radius: 50%;
        position: relative;

        img {
          max-width: 240px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          @media (max-width: $xs) {
            max-width: 100%;
          }
        }

        &--middle {
          width: 200px;
          height: 200px;

          img {
            max-width: 200px;
          }
        }
      }
    }
  }

  &_name {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #999999;
    color: var(--warm-grey);
    text-transform: uppercase;
  }

  &_history {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 13px;
    color: #999999;
    color: var(--warm-grey);
    text-decoration: underline;
  }

  &_img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (--md) {
      width: 340px;
      height: 340px;
    }

    img {
      max-width: 300px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: $xs) {
        max-width: 80%;
      }
    }

    &_text {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: -0.6px;
      text-align: center;
      color: #f5f5f5;
      color: var(--white);
    }
  }

  &_title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: var(--black);
    margin-bottom: 22px;
    padding: 0 38px;
    width: 100%;

    @media (max-width: $md) {
      max-width: 430px;
    }

    @media (max-width: $xs) {
      font-size: 24px;
      line-height: 1.33;
      padding-left: 20px;
      padding-right: 20px;
    }

    &-link {
      color: var(--strawberry);
    }
  }

  &_before-end {
    width: 100%;
    padding: 0 38px;
    margin-bottom: 20px;
    font-size: 17px;

    @media (max-width: $xs) {
      font-size: 14px;
      line-height: 16px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &--practice {
      margin-top: 30px;
    }
  }

  &_table {
    width: 100%;
    display: flex;
    padding: 0 38px;
    flex-wrap: wrap;

    @media (max-width: $xs) {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-item {
      min-width: 85px;
      margin-bottom: 20px;

      &-header {
        white-space: nowrap;
        font-size: 13px;
        color: var(--warm-grey);
        margin-bottom: 6px;

        @media (max-width: $xs) {
          font-size: 12px;
          margin-bottom: 0;
        }
      }

      &-content {
        font-size: 17px;
        color: var(--black);
        white-space: nowrap;

        @media (max-width: $xs) {
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }

    &-comment {
      font-size: 13px;
      color: var(--warm-grey);
      padding-left: 38px;
      padding-right: 38px;
      margin-top: 20px;

      @media (max-width: $xs) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &_list {
    color: var(--warm-grey);
  }

  &_button {
    margin-top: 20px;
  }

  &_links {
    position: absolute;
    bottom: 48px;
    left: 38px;
    line-height: 1;

    @media (max-width: $xs) {
      left: 20px;
    }

    &-item {
      font-size: 13px;
      color: var(--warm-grey);
      display: inline-block;
      width: 100%;
      text-decoration: underline;
    }
  }
}