@font-face {
  font-family: 'ProximaNova';
  src: url('/src/fonts/ProximaNova-Regular.eot') format('eot'),
      url('/src/fonts/ProximaNova-Regular.ttf') format('ttf'),
      url('/src/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/src/fonts/ProximaNova-Bold.eot') format('eot'),
      url('/src/fonts/ProximaNova-Bold.ttf') format('ttf'),
      url('/src/fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
