@import './Media.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --warm-grey: #999999;
  --white: #f5f5f5;
  --strawberry: #fa2c38;
  --pinkish-grey: #c7c7c7;
  --algae-green: #28c75d;
  --black: #333333;
  --red: #ff1100;
}

body {
  font-family: 'ProximaNova', sans-serif;
  background: var(--white);
}

h1 {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #333333;
  color: var(--black);
}

h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.6px;
  color: #333333;
  color: var(--black);
}

h3 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #333333;
  color: var(--black);
}

.wrapper {
  width: calc(100% - 20px);
  margin: 0 auto;

  @media (min-width: $xs) {
    width: 700px;
  }

  @media (min-width: $sm) {
    width: 940px;
  }

  @media (min-width: $md) {
    width: 1180px;
  }

  @media (min-width: $lg) {
    width: 1300px;
  }
}

.wrapper-small {
  width: 860px;
  margin: 0 auto;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--strawberry);

  &:hover {
    text-decoration: underline;
  }
}