.head {
  padding: 30px 0;
  background: #fff;

  @media (max-width: $xs) {
    display: none;
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
  }

  &_logo {
    margin-top: -8px;
    margin-bottom: -17px;
  }

  &_mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    max-height: 48px;
    min-height: 48px;
    overflow: hidden;
    z-index: 10;
    flex-direction: column;
    padding: 0;
    transition: 200ms ease-in-out all;

    &.active {
      min-height: 100vh;
      max-height: 100vh;
    }

    @media (max-width: $xs) {
      display: flex;
    }

    &_top {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      height: 48px;
      min-height: 48px;
      align-items: center;

      &-link-icon {
        &_closed {
          display: block;

          .active & {
            display: none;
          }
        }

        &_open {
          display: none;

          .active & {
            display: block;
          }
        }
      }
    }

    &_body {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;

      &_link {
        margin-left: 0;
        margin-bottom: 28px;
      }
    }

    .profile {
      display: block;
      text-align: center;

      &_user {
        flex-direction: column;
        margin: 0 auto;
        display: block;
      }

      &_img {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}

.nav {
  &_link {
    font-size: 17px;
    letter-spacing: 1px;
    color: #333333;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 64px;

    &:hover {
      text-decoration: underline;
    }
  }
}