.messages {
  position: relative;
  border-radius: 4px;
  border: solid 1px #ffffff;
  padding: 40px;
  display: flex;
  margin-bottom: 20px;

  @media (max-width: $xs) {
    flex-direction: column;
  }

  &:before {
    content: 'сообщения';
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--warm-grey);
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  &_with-icon,
  &_without-icon {
    max-width: 310px;
  }

  &_wrapper {
    width: calc(100% / 3 - 20px);
    margin-right: 20px;

    @media (max-width: $xs) {
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &_icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #d8d8d8;
    margin-bottom: 9px;
  }

  &_pre {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.2px;
    color: var(--black);
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    max-width: 375px;

    @media (max-width: $xs) {
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &_description {
    font-size: 17px;
    color: var(--black);
  }

  &_success {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: var(--black);
  }
}