.profile {
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $xs) {
    margin-top: 50px;
  }

  &_name {
    font-size: 17px;
    color: #333333;
    color: var(--black);
  }

  &_email {
    font-size: 13px;
    color: #999999;
    color: var(--warm-grey);
    margin-top: 3px;
  }

  &_certificate {
    text-align: right;

    @media (max-width: $xs) {
      text-align: center;
      width: 100%;
    }
  }

  &_cetrificate-info {
    font-size: 17px;
    text-align: right;
    color: #333333;
    color: var(--black);
  }

  &_archive {
    font-size: 13px;
    text-align: right;
    color: #999999;
    color: var(--warm-grey);
    margin-top: 7px;
    display: inline-block;
  }

  &_img {
    border-radius: 50%;
    margin-right: 16px;
    height: 48px;
    width: 48px;
  }

  &_user {
    display: flex;
    align-items: center;

    @media (max-width: $xs) {
      display: none;
    }
  }
}