.radiobutton {
  margin-bottom: 8px;
  display: block;

  &--disabled &_name {
    color: #999;
    color: var(--warm-grey);
  }

  &_input {
    display: none;
  }

  &_name {
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    line-height: 1.33;
    color: #333333;
    color: var(--black);
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      min-width: 16px;
      height: 16px;
      border: solid 1px rgba(0, 0, 0, 0.12);
      border-radius: 50%;
      margin-right: 12px;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #ffffff;
      position: absolute;
      top: -200px;
      margin-top: -2px;
      left: 7px;
      border-radius: 50%;
      transition: 300ms ease top;
    }
  }

  &_input:checked+&_name {
    &:before {
      background: #e84342;
    }

    &:after {
      top: 9px;
    }
  }
}