.tables {
  padding-top: 20px;
  padding-bottom: 80px;

  &_container {
    padding-top: 80px;
  }

  &_header {
    font-size: 44px;
    font-weight: bold;
    letter-spacing: -1px;
    color: var(--black);
  }
}

.table {
  background: #fff;
  max-width: 640px;
  margin-top: 45px;

  &--big {
    max-width: 850px;
  }

  &_header {
    padding: 30px 0;
    display: flex;
    border-bottom: solid 1px var(--white);

    @media (max-width: $xs) {
      display: none;
    }
  }

  &_header &_item {
    font-size: 13px;
  }

  &_row {
    display: flex;
    width: 100%;
    padding-left: 30px;
    padding-right: 70px;

    @media (max-width: $xs) {
      flex-direction: column;
      padding: 0;
    }
  }

  &_item {
    flex: 1;
    font-size: 17px;
    color: var(--black);

    @media (max-width: $xs) {
      display: flex;
      font-size: 14px;
      margin-bottom: 15px;
    }

    * {
      color: inherit;
    }

    &--big {
      min-width: 255px;
    }

    &_mobile-header {
      display: none;
      font-size: 12px;
      line-height: 1.33;
      text-align: right;
      color: #999999;
      width: 30%;
      max-width: 30%;
      min-width: 30%;
      margin-right: 20px;

      @media (max-width: $xs) {
        display: block;
      }
    }
  }

  &_body {
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: $xs) {
      padding: 0;
    }
  }

  &_body &_row_disabled &_item {
    color: var(--warm-grey)
  }

  &_body &_row {
    padding: 40px 70px 40px 30px;

    &:first-child {
      padding-top: 0;
    }

    @media (max-width: $xs) {
      padding: 20px 0 10px;
      border-bottom: 1px solid #f5f5f5;

      &:first-child {
        padding-top: 20px;
      }
    }
  }

  &_li {
    list-style: none;
    font-size: 13px;
    color: inherit;

    &:before {
      font-size: 13px;
      width: 20px;
      display: inline-block;

      @media (max-width: $xs) {
        width: 12px;
      }
    }

    &--true {
      &:before {
        content: "✓";
        color: var(--algae-green);
      }
    }

    &--false {
      &:before {
        content: "×";
        color: var(--red);
      }
    }
  }
}