.testing {
  padding: 32px 0;
  margin-top: 100px;

  &_item {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 60px 110px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #FFFFFF;
    transition: background-color 200ms;
    border-radius: 8px;

    @media (max-width: $xs) {
      padding: 30px 25px;
    }

    &-number {
      font-size: 44px;
      font-weight: bold;
      letter-spacing: -1px;
      color: #f5f5f5;
      color: var(--white);
      position: absolute;
      top: 36px;
      left: 46px;

      @media (max-width: $xs) {
        top: 2px;
        left: 2px;
      }
    }

    &-title {
      margin-bottom: 20px;

      @media (max-width: $xs) {
        padding-left: 30px;
      }
    }

    &--selected {
      background: transparent;
    }

    &--selected &-number {
      color: #fff;
    }
  }

  &_title {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #999999;
    color: var(--warm-grey);
    text-transform: uppercase;
    margin-bottom: 60px;
    position: absolute;
    top: 32px;
    left: 32px;

    @media (max-width: $xs) {
      display: none;
    }
  }

  &_time {
    position: absolute;
    text-align: right;
    font-size: 13px;
    color: #999999;
    letter-spacing: 0;
    top: 32px;
    right: 32px;

    @media (max-width: $xs) {
      text-align: left;
      left: 6px;
      top: 24px;
      max-width: 180px;
    }
  }

  &_buttons {
    text-align: right;

    @media (max-width: $xs) {
      text-align: center;
    }
  }

  &_header {
    padding: 32px;
    position: fixed;
    position: sticky;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    z-index: 2;
    margin-bottom: -100px;


    @media (max-width: $xs) {
      height: 80px;
      margin-bottom: -80px;
      padding-top: 30px;
    }
  }

  &_progress {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    @media (max-width: $xs) {
      margin-top: 0;
    }

    &-section {
      position: relative;
      margin-right: 25px;
      width: 100%;
      cursor: pointer;
      font-size: 13px;
      padding-bottom: 6px;
      padding-top: 6px;
      color: transparent;
      transition: 150ms ease-in-out;

      @media (max-width: $xs) {
        margin-right: 6px;
      }

      &:before {
        content: '';
        background: #C7C7C7;
        height: 3px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
      }

      &:hover {
        color: #999;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-line {
      position: absolute;
      background: #FA2C38;
      height: 3px;
      left: 0;
      bottom: 0;
      transition: width 200ms;
    }
  }

  &-message {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 40px;
    flex-wrap: wrap;

    .education_table {
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: $xs) {
      margin-top: 20px;
    }

    &_right {
      text-align: center;
    }

    &_title {
      font-size: 44px;
      font-weight: bold;
      letter-spacing: -1px;
      color: #333333;
      max-width: 530px;
    }

    &_content {
      font-size: 17px;
      color: #333333;
      margin-top: 40px;
      display: inline-block;
      max-width: 420px;
    }

    &_email {
      font-size: 13px;
      color: #999999;
      margin-top: 20px;

      a {
        color: inherit;
      }
    }

    &_img {
      min-width: 100%;
      width: 280px;
    }

    &_button {
      margin-top: 20px;
    }
  }
}